*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: #eeeeee;
}

.container {
  display: flex;
  align-items: center;
  height: 100vh;
}

.technique {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;

  div {

    h3 {
      text-align: center;
    }

    > div {
      width: 50px;
      height: 50px;
      background-color: black;
      clip-path: circle(49%);
    }
  }

  .deep {

    > div {
      animation: 19s linear infinite deep;
    }
  }

  .box {

    > div {
      animation: 12s linear infinite box;
    }
  }

  .awake {

    > div {
      animation: 8s linear infinite awake;
    }
  }
}

@keyframes deep {
  0% {
    transform: scale(.5)
  }

  21% {
    transform: scale(1)
  }

  58% {
    transform: scale(1)
  }

  100% {
    transform: scale(.5)
  }
}

@keyframes box {
  0% {
    transform: scale(.5)
  }

  25% {
    transform: scale(1)
  }

  50% {
    transform: scale(1)
  }

  75% {
    transform: scale(.5)
  }

  100% {
    transform: scale(.5)
  }
}

@keyframes awake {
  0% {
    transform: scale(.5)
  }

  75% {
    transform: scale(1)
  }

  100% {
    transform: scale(.5)
  }
}


