*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: #eeeeee;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  &.active {

    div.techniques {
      display: none;
    }

    svg.return {
      display: inline-block;
    }

    div.breathe {
      display: flex;
    }

  }
}

.container > h2 {
  position: absolute;
  align-self: flex-start;
}


div.techniques {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;


  > div {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

    > h3 {
      text-align: center;
      cursor: pointer;
      font-size: 20px;
    }

    > div {
      width: 50px;
      height: 50px;
      background-color: #000;
      clip-path: circle(49%);
    }
  }

  .deep {

    > div {
      animation: 19s linear infinite deep;
    }
  }

  .box {

    > div {
      animation: 16s linear infinite boxd;
    }
  }

  .awake {

    > div {
      animation: 8s linear infinite awake;
    }
  }
}

svg.return {
  display: none;
  position: absolute;
  top: 30px;
  left: 30px;
  cursor: pointer;
}

div.breathe {
  display: none;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;



  .breathe-circle {
    background-color: #000;
    clip-path: circle(49%);
    transform: scale(.5);
    width: 200px;
    height: 200px;

    &.deep {
      animation: 19s linear infinite deep;
    }

    &.box {
      animation: 16s linear infinite box;
    }

    &.awake {
      animation: 8s linear infinite awake;
    }
  }

  span {
    color: #FFF;
    cursor: pointer;
    font-size: 18px;
    position: absolute;

  }
}

@keyframes deep {
  0% {
    transform: scale(.5)
  }

  21% {
    transform: scale(1)
  }

  58% {
    transform: scale(1)
  }

  100% {
    transform: scale(.5)
  }
}

@keyframes box {
  0% {
    transform: scale(.5)
  }

  25% {
    transform: scale(1)
  }

  50% {
    transform: scale(1)
  }

  75% {
    transform: scale(.5)
  }

  100% {
    transform: scale(.5)
  }
}

@keyframes awake {
  0% {
    transform: scale(.5)
  }

  75% {
    transform: scale(1)
  }

  100% {
    transform: scale(.5)
  }
}


